@import './variables';

// font-face
@font-face {
  font-family: itemTitleFont;
  src: url('../font/Mark Simonson - Proxima Nova Extra Condensed Semibold.otf');
}

@font-face {
  font-family: itemFont;
  src: url('../font/bahnschrift.ttf');
}


.body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  height: 96.3vh;
  display: flex;
  justify-content: start;
  margin: 16px;
  position: relative;
  gap: 16px;
}

.graphContainer {
  flex-grow: 1;
  height: 100%;
  position: relative;
  border-radius: $border-radius-container;
}

.graphToolbax {
  width: 100px;
  height: 200px;
  background-color: #ffffff;
  position: absolute;
  z-index: 5;
  border-radius: $border-radius-container;
  left: 92%;
  top: 77%;

  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 40vh;
  background-color: $sidebar-background-color;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  //z-index: 5;
  //padding: 8px;
  //margin: 16px;
  //border-radius: 8px;
  border-radius: $border-radius-container;
  overflow-y: auto;
}

.editorContainer {
  height: auto;
  background-color: $editor-background-color;
  padding: 8px;
  margin: 16px 16px 0 16px;
  border-radius: $border-radius-container;
}

.editorItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  font-family: itemFont;
  font-size: 18px;
  gap: 8px;
}

.editorItemTitle{
  font-family: itemTitleFont;
  font-size: 35px;
}

.editorItemButtonGroup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.inlineFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}